<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.OrderMapper">
	<select id="findOrder">
		select
		orderID,
		shopkeeperID,
		buyerID,
		isPay,
		deliver,
		orderTime
		from
		order
		<if test="orderID!=null and orderID!=#{order.#{order.">
			where orderID=#{orderID}
		</if>
	</select>

	<insert id="insertOrder">
		INSERT INTO order (
		orderID,
		shopkeeperID,
		buyerID,
		isPay,
		deliver,
		orderTime
		)
		VALUES
		(
		#{order.orderID},
		#{order.shopkeeperID},
		#{order.buyerID},
		#{order.isPay},
		#{order.deliver},
		#{order.orderTime}
		);
	</insert>

	<delete id="deleteOrder">
		DELETE
		FROM
		order
		WHERE orderID = #{orderID};

	</delete>

	<update id="updateOrder">
		update
		order
		set
		shopkeeperID = #{order.shopkeeperID},
		buyerID = #{order.buyerID},
		isPay = #{order.isPay},
		deliver = #{order.deliver},
		orderTime = #{order.orderTime}
		where orderID = #{order.orderID};

	</update>
</mapper>